numpy
python-telegram-bot
httpx
transformers
datasets
tqdm
h5py
ipykernel
notebook
faiss-cpu
chromadb
pydantic
pandas
matplotlib
sentence-transformers
accelerate
bitsandbytes
protobuf
scipy
loguru
python-dotenv
statsmodels
pre-commit
black
flake8
pytest
fastapi
uvicorn